/* CSS declarations go here */

/*@import "basscss-base";*/
/*@import "basscss-utilities";*/

#transparent-box {
  opacity:0.8;
  font-family: 'Orbitron', sans-serif;

}
#transparent-box h1{
  opacity:0.8;
  font-family: 'Orbitron', sans-serif;
  font-size:60px;
}


.bass-clef-icon {
  height:50px;
  width:50px;
  color:white;
}

.container-foo{
  background-image:url('imgs/background_image.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  height: 100vh;
}

.container-foo > h1{
  margin: 0px;
}

#index-section {
  max-width:100%;
  margin-left: inherit;
  margin-right: inherit;
  background-color: white;

}

label{
  font-weight:900;
  font-size:15px;

}

.create-band-container {
  margin-top: 0;
}


.band-info {
  background-color:rgba(0,0,0,0.05);
  padding-top:5px;
  border:2px;
  border-radius:10px;
  width:40%;
}

.lg-col-3{
  position:relative;
  float:left;
  background:black;
  margin:50px;

}

.new_project{
  position:relative;
  margin-left:45px;

}

.projects{
  position:relative;
  padding-left:100px;
  font-family:'Orbitron', sans-serif;
}

.clearfix h3{
text-align:center;
}

.clearfix{
  top:-15px;
}

.clearfix h3{
  font-family:'Orbitron', sans-serif;

}

#song_link{
  font-size:50;
  background:gray;

}

.song{
  padding-left:90px;
position:relative;
width:100%;
}



.mb0 {
  cursor: pointer;
}

#songName {
  padding-top:25px;
  margin-bottom:25px;

}



#index-section p{
  padding-top:15px;

}

