/* CSS declarations go here */

html {

}

#rebass-header {
  text-align: center;
  font-size:60px;
  font-family: 'Montserrat', sans-serif;
  color:black;
}

.login-link-and-dropdown-list {
  color:white;
}

.login-link-text {
  color:white;
  font-style:none;
}

a#login-sign-in-link {
  text-decoration: none;
}

.clearfix {

}








