/* CSS declarations go here */

/*@import "basscss-base";*/
/*@import "basscss-utilities";*/

html {
  /*background-color:#FCFBE3;*/
  background-color:white;
  background-image:url('https://s-media-cache-ak0.pinimg.com/736x/40/03/dc/4003dc97685d7efd91248d5756598f2e.jpg');
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  z-index: -1;
  position:absolute;

}

body {
 /*background-color:#FCFBE3;*/
 background-color: white;
}

#rebass-header {
  text-align: center;
  font-size:40px;
  font-family: 'Montserrat', sans-serif;
  /*color:white;*/
}

.login-link-and-dropdown-list {
  color:white;

}

.login-link-text {
  color:white;
  font-style:none;
}

a#login-sign-in-link {
  text-decoration: none;

}

.clearfix {
  /*background-color:#FF4136;*/
  background-color: black;
  width:100%;
}

.button {
  background-color:black;
}

#play_all {
  background-color: black;
  color:white;
}

#pause_all {
  background-color:black;
  color:white;
}

.fa-headphones {
  /*background-color:#FF4136;*/
  /*background-color: black;*/
}

.fa-search {
  background-color:black;
  color:white;
}














