<template name="index_page">
  <header class="center px3 py4 white bg-gray bg-cover bg-center" style="background-image:url(./imgs/hero_mixer_image3.jpg)">
    <div id="transparent-box">
      <h1>REBASS</h1>
      <p class="h3 py3">Move your creative process forward    ... or backward</p>
      <!-- <a href="#" class="h3 button button-big mb4 bg-black">Button that does something</a> -->
    </div>
  </header>

  <section id="index-section" class="container px2 py3">
    <div class='container'>
      <div class="sm-col sm-col-4">
        <h2 class="h1 mb0">Upload</h2>
        <p>Grab your current musical ideas and we'll upload them to the cloud securely. Your ideas will be safe and persist long after your hardware fails you.</p>
      </div>
      <div class="sm-col sm-col-4 px2">
        <h2 class="h1 mb0">Experiment</h2>
        <p>Change the cue-in times of your tracks to try different arrangements. Maybe you need a longer intro? It's up to you.</p>
      </div>
      <div class="sm-col sm-col-4 px2">
        <h2 class="h1 mb0">Revert</h2>
        <p>Like a specific arrangement? Save it to your history and you can go back to it at any time. Dislike where a song is going? Save it and go back to an earlier session.</p>
      </div>
    </div>

  </section>
</template>