<template name="index_page">
  <header class="center px3 py4 white bg-gray bg-cover bg-center" style="background-image:url(./imgs/hero_mixer_image3.jpg)">
    <div id="transparent-box">
      <h1 class="h1 h0-responsive caps mt4 mb0 regular">REBASS</h1>
      <p class="h3 py3">Control your creative process</p>
      <!-- <a href="#" class="h3 button button-big mb4 bg-black">Button that does something</a> -->
    </div>
  </header>

  <section id="index-section" class="container px2 py3">
    <div class="clearfix mxn2">
      <div class="sm-col sm-col-4 px2">
        <h2 class="h1 mb0">Create</h2>
        <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
      </div>
      <div class="sm-col sm-col-4 px2">
        <h2 class="h1 mb0">Collaborate</h2>
        <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
      </div>
      <div class="sm-col sm-col-4 px2">
        <h2 class="h1 mb0">Create</h2>
        <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
      </div>
    </div>

  </section>
</template>