<template name="snippets">
  <div id="snippet_list">
    <audio id="one" src="http://www.noiseaddicts.com/samples/2544.mp3" controls></audio><br>
    <audio src="http://www.noiseaddicts.com/samples/2544.mp3" controls></audio><br>
    <audio src="http://www.noiseaddicts.com/samples/2544.mp3" controls></audio><br>
    <audio src="http://www.noiseaddicts.com/samples/2544.mp3" controls></audio><br>
  </div>
  <button id="play_all">Play All</button>
  <button id="pause_all">Pause All</button>
</template>
