<template name="session">
  <h3 class="center">Create a session</h3>
  <hr>

  <div class="clearfix outline-blue">
    <div class="col col-6">
      <a href="#">Upload a File from your computer</a>
        {{> uploadForm}}
    </div>

    <div class="col col-6">
      <a href="#">Enter a streaming audio URL from the Web.</a>
        {{> new_snippet_form}}
    </div>
  </div>

  <hr>
  {{> timer}}
  <hr>
  <hr>


  {{> snippets}}


  <form id="welcomeRoute" action="/">
    <input type ="submit" value="Leave Session">
  </form>
</template>


