<template name="session">
  <h3> Sesssion </h3>
  {{> uploadForm}}
  <div id="audio_player">
    <div id="audio_box"></div>
    <canvas id="analyser_render"></canvas>
  </div>
  {{snippets.snippets}}
  {{> snippets}}
  <hr>
  <div class ='cueIn'>Cue In:  {{snippet.cueIn}}
  </div>
  <div class ='cueOut'>Cue Out: {{snippet.cueOut}}
  </div>
  <hr>
  <form class="new-cueIn">
        <input type="text" name="text" placeholder="New Cue In" />
        <input type="submit" value="set">
  </form>
  <form class="new-cueOut">
        <input type="text" name="text" placeholder="New Cue Out" />
        <input type="submit" value="set">
  </form>
  <hr>
    {{> new_snippet_form}}
  <hr>
  <a href="/">back to welcome</a>
</template>
