<template name="snippets">

 <div id="snippet_list">

  <hr>
  {{> history_selector}}
  <form id="saver">
    <input type="submit" value="Save History">
  </form>
  <br>
  {{#each samples}}
  <div class="snippets_box">

    <audio-snippet id="{{_id}}" src="{{url}}"
    data-cue-in="{{cueIn}}"
    data-cue-out="{{cueOut}}" data-song-id="{{songId}}">
    <p id="currentCue{{_id}}"></p>
    </audio-snippet>
    <button class="remove_snippets"> Remove </button>
  </div>
  {{/each}}
</div>
</template>
