<template name="snippets">


  <form id="time-history">
   <input type="datetime-local" name="rebase_time">
   <input type="submit">
 </form>


 <div id="snippet_list">
  <br>
  <hr>
  <form id="saver">
    <input type="submit" value="Save History">
  </form>
  <hr>
  {{> history_selector}}
  <br>
  {{#each samples}}
    <audio-snippet id="{{_id}}" src="{{url}}"
    data-cue-in="{{cueIn}}"
    data-cue-out="{{cueOut}}" data-song-id="{{songId}}">
    <div id="currentCue{{_id}}"></div>

    <button class="remove_snippets"> Remove </button>
    </audio-snippet>

  {{/each}}
</div>
<button id="play_all">Play All</button>
<button id="pause_all">Pause All</button>
</template>
