<template name="snippets">

<!--   <div id="audio_player">
    <div id="audio_box"></div>
    <canvas id="analyser_render"></canvas>
  </div> -->

  <form id="time-history">
   <input type="datetime-local" name="rebase_time">
   <input type="submit">
 </form>


 <div id="snippet_list">
  <br>
  <hr>
  <form id="saver">
    <input type="submit" value="Save History">
  </form>
  <hr>
  {{> history_selector}}
  <br>
  {{#each samples}}
    <audio-snippet id="{{_id}}" src="{{url}}"
    data-cue-in="{{cueIn}}"
    data-cue-out="{{cueOut}}" data-song-id="{{songId}}">
    <button class="remove_snippets"> Remove </button>
    </audio-snippet>


    <form id="update_cues{{_id}}">
      <input type="text" name="cueIn" placeholder="In: {{cueIn}} s">
      <input type="text" name="cueOut" placeholder="Out: {{cueOut}} s">
      <input type="submit">
    </form>
    <div id="currentCue{{_id}}"></div>
  {{/each}}
</div>
<button id="play_all">Play All</button>
<button id="pause_all">Pause All</button>
</template>
