.snippets_box{
  background:white;
  height:150px;

}

.upload_box{
  position:relative;
  text-align: center;
  margin-top:-25px;
  margin-bottom: 10px;

}
.timer_box{
  position:relative;
  text-align: center;

}


.time_delete button{
  position:absolute;
  left:500px;

}

.song-name{
  text-align: center;
}

.session-snippets{

background:red;


}

